h2 {
  color: #2f4f4f;
  padding: 10px 40px;
}
.row {
  color: #0000cd;
  font-size: 20px;
}
.today {
  color: #0000cd;
  margin-top: 10px;
  margin-left: 33px;
}

i {
  color: black;
}

.today i {
  font-size: 25px;
  vertical-align: middle;
}

.weather-container {
  position: fixed;
  left: 25%;
  width: 50%;
  margin: 10px;
  padding: 10px;
  border: solid black;
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 10px;
  background-color: #f0f8ff;
}

.row-weather {
  text-align: center;
  margin-left: 40px;
}
a {
  font-size: 8px;
}

#current-location-button {
  margin-left: 50px;
  margin-top: 10px;
}

#location-header {
  color: #000080;
  text-decoration-style: solid;
}

#temperature-description {
  text-transform: capitalize;
}
